@import "../abstract/variables";

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 350px;
  justify-content: center;
  justify-items: center;
  margin-top: 10px;
  background-color: $background-color-card;
}

.form__header {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: medium;
  font-weight: bold;
}

.form__title {
  text-align: center;
  padding: 20px;
}

.form__actions {
  justify-content: center;
}

.hint {
  font-size: x-small !important;
}

.iconSuffix {
  color: $background-color-card !important;
}
