<div class="main-page card-wrapper">
  <h1 class="welcome-title">Welcome to myFlix!</h1>
  <p>
    Please create a (dummy) account to use the app. You can enter anything you
    like as this is just a study project and the user data is only relevant for
    you to test the app. After registration you need to login with username and password.
  </p>
  <mat-card-actions>
    <button
      class="button welcome_button"
      mat-raised-button
      (click)="openUserRegistrationDialog()"
      style="margin-right: 10px"
      color="primary"
    >
      Sign Up
    </button>
    <button
      class="button welcome_button"
      mat-raised-button
      (click)="openLoginDialog()"
      style="margin-right: 10px"
      color="primary"
    >
      Login
    </button>
  </mat-card-actions>
</div>
