<mat-card class="form">
  <mat-card-header class="form__header">
    <mat-card-title class="form__title">Login</mat-card-title>
  </mat-card-header>
  <mat-card-content class="form__content">
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input
          matInput
          [(ngModel)]="userData.Username"
          type="text"
          name="Username"
          required
        />
        <mat-icon matSuffix class="iconSuffix">account_circle</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [(ngModel)]="userData.Password"
          placeholder="Password"
          name="Password"
          [type]="hide ? 'password' : 'text'"
          required
        />
        <mat-icon class="iconSuffix" matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="form__actions">
    <button mat-raised-button (click)="loginUser()" color="primary">
      Sign in
    </button>
  </mat-card-actions>
</mat-card>
