<div class="card-wrapper">
  <mat-card
    class="movie-card"
    *ngFor="let movie of movies; let i = index"
    style="flex: 1 1 auto"
  >
    <mat-card-header>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <!-- Render add to or remove from favorites button depending on isFav -->
      <button
        mat-icon-button
        *ngIf="!isFav(movie._id)"
        (click)="addToFavoriteMovie(user.Username, movie._id)"
      >
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button
        mat-icon-button
        *ngIf="isFav(movie._id)"
        (click)="removeFromFavoriteMovie(user.Username, movie._id)"
        color="primary"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <mat-card-subtitle
        >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
      >
    </mat-card-header>
    <img
      class="movie-card__image"
      src="{{ movie.Imageurl }}"
      alt="{{ movie.Title }}"
    />

    <mat-card-actions>
      <button
        mat-button
        (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
      >
        Genre
      </button>
      <button
        mat-button
        (click)="
          openDirectorDialog(
            movie.Director.Name,
            movie.Director.Bio,
            movie.Director.Birthyear,
            movie.Director.Deathyear
          )
        "
      >
        Director
      </button>
      <button
        mat-button
        (click)="openMovieDetailsDialog(movie.Title, movie.Description, movie.Actors)"
      >
        Synopsis
      </button>
    </mat-card-actions>
  </mat-card>
</div>
