@use "@angular/material" as mat;
@include mat.core();
@import "./abstract/variables";

$persian-plum-palette: (
  50: #ffdac1,
  100: #ffb7a7,
  200: #eb9385,
  300: #ca6f60,
  400: #b15246,
  500: #99362d,
  600: #8c2d27,
  700: #7b201f,
  800: #6b0f1a,
  900: #590012,
  contrast: (
    50: $text-color-dark,
    100: $text-color-dark,
    200: $text-color-dark,
    300: $text-color-dark,
    400: $text-color-light,
    500: $text-color-light,
    600: $text-color-light,
    700: $text-color-light,
    800: $text-color-light,
    900: $text-color-light,
  ),
);

$carrot-orange-palette: (
  50: #fcf2e0,
  100: #f7ddb1,
  200: #f2c77f,
  300: #eeb14c,
  400: #eba027,
  500: #e89105,
  600: #e48602,
  700: #de7700,
  800: #d86800,
  900: #ce5000,
  contrast: (
    50: $text-color-dark,
    100: $text-color-dark,
    200: $text-color-dark,
    300: $text-color-dark,
    400: $text-color-dark,
    500: $text-color-dark,
    600: $text-color-dark,
    700: $text-color-dark,
    800: $text-color-light,
    900: $text-color-light,
  ),
);
$red-salsa-palette: (
  50: #feecef,
  100: #fed0d6,
  200: #ee9fa1,
  300: #e57a7d,
  400: #f05d5d,
  500: #f54e45,
  600: #e74644,
  700: #d43d3d,
  800: #c73737,
  900: #b92c2b,
  contrast: (
    50: $text-color-dark,
    100: $text-color-dark,
    200: $text-color-dark,
    300: $text-color-dark,
    400: $text-color-dark,
    500: $text-color-light,
    600: $text-color-light,
    700: $text-color-light,
    800: $text-color-light,
    900: $text-color-light,
  ),
);
