<mat-card class="dialog">
  <mat-card-actions class="button-wrapper-right">
    <button
      class="close-button"
      mat-dialog-close
      aria-label="Close movie details dialog button"
    >
      X
    </button>
  </mat-card-actions>
  <mat-card-title class="dialog__title">{{ movie.Title }}</mat-card-title>
  <mat-dialog-content class="dialog__content">
    <div>
      <span class="content__sub-title">Plot: </span>{{ movie.Description }}
    </div>
    <div>
      <span class="content__sub-title">Actors: </span>{{ movie.Actors }}
    </div>
  </mat-dialog-content></mat-card
>
