@import "../../styles/abstract/variables";

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 99;
}
.nav-bar__title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}
