@import "../../styles/abstract/variables";

// Profile view

.profile-wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}
.profile-card {
  width: 80%;
  margin: 10px auto;
  background-color: $background-color-card;

  &__content {
    padding: 10px;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
  }
}
.profile-card__buttons {
  margin-right: 10px;
}

.label-container,
.profile-data {
  display: flex;
  flex-direction: column;
}

label {
  min-width: 100px;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 5px 10px 5px 0;
}
.profile-data {
  align-content: flex-start;
}
.profile-data > p {
  min-width: 100px;
  font-size: 1.2rem;
  margin: 0;
  padding: 5px 10px 5px 0;
}

button {
  margin-right: 10px;
}
// Movie view

.scroll-container {
  overflow-x: scroll;
  display: flex;
  padding: 2%;
}

.fav-movies {
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  &__title {
    color: $text-color-light !important;
  }
}

.fav-card {
  margin: 5px;
  background-color: $background-color-card;
}

.fav-image {
  height: 300px;
  width: 220px;
}

.remove-button {
  position: absolute;
  top: 10px;
  right: 5px;
}

.displayMessage {
  text-align: center;
}
