<div class="profile_wrapper">
  <mat-card class="card_container">
    <mat-card-header class="profile-card-header">
      <mat-icon>account_circle</mat-icon>
      <mat-card-title class="title">Profile information</mat-card-title>
    </mat-card-header>
    <!-- View Profile information -->
    <mat-card-content class="card_content">
      <div class="label_container">
        <label for="name">Name: </label>
        <label for="email">Email: </label>

        <label for="birthday">Birthday: </label>
      </div>
      <div>
        <p>{{ user.Username }}</p>
        <p>{{ user.Email }}</p>
        <!-- Using pipe to convert date -->
        <p>{{ user.Birthday | date : "longDate" }}</p>
      </div>
    </mat-card-content>

    <!-- Edit profile -->
    <mat-card-actions>
      <button mat-raised-button (click)="openEditDialog()" color="primary">
        <mat-icon>edit</mat-icon>
        Edit Profile
      </button>
      <button mat-raised-button (click)="deleteProfile()" color="warn">
        <mat-icon>delete_forever</mat-icon>
        Delete Profile
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card-container fav-movies-container">
    <mat-card-header class="card-header">
      <mat-card-title class="title">My Movies</mat-card-title>
      <mat-card-subtitle
        class="displayMessage"
        *ngIf="user.FavoriteMovies?.length == 0"
        >Looks pretty lonely over here. Add some Movies!</mat-card-subtitle
      >
    </mat-card-header>
    <div class="scroll-container">
      <mat-card *ngFor="let movie of favMovies; let i = index" class="fav-card">
        <mat-card-header>
          <button
            class="remove-button"
            mat-button
            color="accent"
            (click)="removeFavoriteMovie(user.Username, movie._id)"
          >
            <mat-icon>favorite</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <img
            class="fav-image"
            src="{{ movie.Imageurl }}"
            alt="{{ movie.Title }}"
          />
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card>
</div>
